:root {
    --color-input-otp-ring: #a1a1aa;
    --color-input-otp-cursor: #000;
}

@keyframes caret-blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.animate-caret-blink {
    display: inline-block;
    height: 1em;
    animation: caret-blink 1s step-end infinite;
}