:root {
    --scrollbar-thumb: rgba(4, 30, 73, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --scrollbar-thumb: rgba(255, 255, 255, 0.2);
    }
}

[data-theme="dark"] {
    --scrollbar-thumb: rgba(255, 255, 255, 0.2);
}

.tabs-active::after {
    content: "";
    position: absolute;
    width: .75rem;
    height: .75rem;
    background-color: #fafafa;
    border-width: 1px 0 0 1px;
    border-style: solid;
}

@media (width >=48rem) {
    .tabs-active::after {
        top: 50%;
        left: 97%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

@media (width < 48rem) {
    .tabs-active::after {
        top: 90%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.tabs-container::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

.tabs-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: .5rem;
}