.border-card_after {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0;
    border-color: white;
    border-radius: .5rem;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);
    position: relative;

}

.border-card_after::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0);
    content: "";
    display: block;
    pointer-events: none;
    border-radius: .5rem;
}