:root {
    --color-tooltip-bg: #000;
    --color-tooltip-text: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-tooltip-bg: #fff;
        --color-tooltip-text: #000;
    }
}

[data-theme="dark"] {
    --color-tooltip-bg: #fff;
    --color-tooltip-text: #000;
}