:root {
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --background: #ffffff;
    --foreground: #171717;
    --accent: 240 4.8% 95.9%;
    --primary-color: #44b3e3;
    --hover-bg-soft: rgba(0, 0, 0, 0.03);
    --success-color: rgba(34, 195, 67, 0.41);
    --success-focus-color: rgba(34, 195, 67, 0.53);
    --error-color: rgba(239, 67, 67, 0.41);
    --text-error: rgb(239, 68, 68);
    --text-success: rgb(34, 197, 67);
    --error-focus-color: rgba(239, 67, 67, 0.53);
    --text-secondary: rgb(116, 118, 134);

    --bg-button: rgba(11, 87, 208, 0.08);
    --bg-button-hover: rgb(133 146 163);

    --color-shadow-light: rgba(0, 0, 0, .08) 0px 0px 2px 0px, rgba(25, 28, 33, .06) 0px 1px 2px 0px, rgba(0, 0, 0, .03) 0px 0px 0px 1px;
    --color-shadow-deep: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px, rgba(25, 28, 33, 0.2) 0px 15px 35px -5px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    --color-shadow-border-soft: rgba(0, 0, 0, .11) 0px 0px 0px 1px, rgba(0, 0, 0, .07) 0px 0px 1px 0px;
    --color-shadow-heavy: var(--primary-color) 0px 0px 0px 1px, rgba(255, 255, 255, .07) 0px 1px 1px 0px inset, rgba(34, 42, 53, .2) 0px 2px 3px 0px, rgba(0, 0, 0, .24) 0px 1px 1px 0px;
    --color-shadow-soft: rgba(0, 0, 0, .07) 0px 0px 0px 1px, rgba(0, 0, 0, .08) 0px 2px 3px -1px, rgba(0, 0, 0, .02) 0px 1px 0px 0px;
    --color-shadow-soft-strong: rgba(0, 0, 0, .28) 0px 0px 0px 1px, rgba(0, 0, 0, .11) 0px 0px 1px 0px;
    --color-shadow-strong: rgba(0, 0, 0, .28) 0px 0px 0px 1px, rgba(0, 0, 0, .11) 0px 0px 1px 0px, rgba(0, 0, 0, .11) 0px 0px 0px 4px;
    --color-shadow-success: var(--success-color) 0px 0px 0px 1px, rgba(34, 195, 67, 0.15) 0px 0px 1px 0px;
    --color-shadow-success-focus: var(--success-focus-color) 0px 0px 0px 1px, rgba(34, 195, 67, 0.15) 0px 0px 1px 0px, rgba(34, 195, 67, 0.15) 0px 0px 0px 4px;
    --color-shadow-error: var(--error-color) 0px 0px 0px 1px, rgba(239, 67, 67, 0.15) 0px 0px 1px 0px;
    --color-shadow-error-focus: var(--error-focus-color) 0px 0px 0px 1px, rgba(239, 67, 67, 0.15) 0px 0px 1px 0px, rgba(239, 67, 67, 0.15) 0px 0px 0px 4px;
}

/* auth */
.grid:has(button:nth-child(1)) .last-word {
    display: none;
}

.grid:has(button:nth-child(2)) .last-word {
    display: block;
}

.grid:has(button:nth-child(3)) .label-text,
.grid:has(button:nth-child(2)) .label-text,
.grid:has(button:nth-child(3)) .last-word {
    display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.animate-fade-in {
    animation: 450ms ease 0s 1 normal none running fade-slide-up;
    transition-property: height;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.animate-fade-out {
    animation: 450ms ease 0s 1 normal none running fade-slide-down;
    transition-property: height;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(240 5.9% 90%);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

@keyframes fade-slide-down {
    0% {
        opacity: 1;
        transform: translateY(0px);
        max-height: 6rem;
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: translateY(5px);
        max-height: 0px;
        visibility: visible;
    }
}

@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(-5px);
        max-height: 0px;
    }

    50% {
        opacity: 0;
        transform: translateY(-5px);
        max-height: 0px;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        max-height: 6rem;
    }
}